openai_api_key: <openai_key>
openai_model: "gpt-4.1" #Replace with your deserved model
jira:
  api_key: "<jira_api_key">
  api_email: "<jira_api_email"
  base_url: "https://stackadapt.atlassian.net"
team:
  - "John Doe"
  - "Jean Doe"
managers:
  - "John Doe"
calendar:
    timezone: "America/Vancouver"
slack:
    api_token: "<token>"
asana: #Below are dummy ids
  api_token: "1/1246923306000:7f9182d6d6a841a897f400d797774822"
  team_id: "1206759564402229"
